html
  head
    title
  body
    form(method="post", name ="register")
      span FirstName
      input(type="text", name="firstName")
      span LastName
      input(type="text", name="lastName")
      span email
      input(type="text", name="email")
      span password
      input(type="text", name="password")
      input(type="submit")